

.input{
    &__search{
        border: solid black;
        border-radius: 6px;
        transition: all 500ms;
        margin-bottom: 1rem;
        width: 65% ;
         
        & > input {
            color: $pink;
            font-size:20px;
            font-weight: bold;
            &::selection{
                color: white ;
                background-color: $pink ;
            }
        }
        & > svg {
            color: $pink;
            font-size: 20px;
        }
        &:hover {
            filter: drop-shadow(6px 6px 0px black);
        }
    }
}