

.input{
    &__search{
        border: solid rgb(255, 255, 255);
        border-radius: 6em;
        transition: all 500ms;
        margin-bottom: 1rem;
        width: 65% ;
         
        & > input {
            // color: $pink;
            color: $orange;
            font-size:20px;
            font-weight: bold;
            &::selection {
                color: white ;
                background-color: $orange ;
            }
        }

        & > svg {
            color: $orange;
            font-size: 20px;
        }

        &:hover, &:active {
            // filter: drop-shadow(6px 6px 0px black);
        }

    }
}